h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
.cook-top {
  width: 100%;
  background: #194277;
  align-items: baseline;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.cook-top .box {
  margin: 0 10px;
}
.cook-top .box p {
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}
.button-accept {
  color: #194277;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 15px;
  background: #fff;
  padding: 8px 35px;
  border: none;
  cursor: pointer;
}
.button-accept:hover {
  opacity: 0.8;
}
header {
  padding-top: 90px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header nav {
  cursor: pointer;
}
header nav .btn-gamburger {
  float: right;
  width: 45px;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}
header nav .btn-gamburger span {
  z-index: 1;
  position: relative;
  display: block;
  background: #fff;
  width: 25px;
  height: 3px;
  margin: 4px;
}
header nav:hover {
  background: #194277;
}
.welcome {
  background: url("../img/welcome.jpg") no-repeat center top;
  background-size: cover;
  min-height: 870px;
  position: relative;
}
.welcome h1 {
  color: #fff;
  font-family: Lato;
  font-size: 50px;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  max-width: 800px;
}
.welcome p {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0 70px 0;
  max-width: 760px;
}
.welcome .btn {
  color: #3695ff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 28px;
  padding: 11px 65px;
}
.wrap {
  background: #fff;
  min-height: 410px;
}
.expert {
  background-color: #f1f8ff;
}
.expert h2 {
  text-align: center;
  padding: 95px 0;
  color: #3677fd;
  font-family: Lato;
  font-size: 50px;
  font-weight: 300;
  line-height: 35px;
}
.expert .img {
  margin: 15px 10px 10px 10px;
  border: 1px solid #b7c0c9;
  border-radius: 50%;
}
.wrap-container {
  padding: 170px 0 0 0;
}
.flexclass {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*@media screen and (max-width: 540px)
  .welcome
    height 1325px*/
.arrow-down {
  padding-top: 70px;
}
.wrap h3 {
  color: #3677fd;
  font-family: Lato;
  font-size: 50px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
  margin: 95px 0 65px 0;
}
.wrap p {
  color: #5a5a5a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  margin: 0 50px 30px;
}
.expert ul {
  display: flex;
  flex-wrap: wrap;
}
.expert ul li {
  text-align: center;
}
.expert ul li h4 {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #3677fd;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.expert ul li p {
  margin-bottom: 100px;
  color: #5a5a5a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}
.list-expert {
  list-style: none;
}
a {
  text-decoration: none;
}
/*latest works section*/
.latest-works h3 {
  color: #3677fd;
  font-family: Lato;
  font-size: 50px;
  font-weight: 300;
  line-height: 35px;
  padding-top: 90px;
  padding-bottom: 100px;
}
.latest-works ul {
  padding: 0;
  list-style: none;
  margin-bottom: 100px;
}
.latest-works ul li {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-works ul li a {
  margin-bottom: 50px;
}
/*Clients section*/
.clients {
  background-color: #f1f8ff;
}
.clients h2 {
  color: #3677fd;
  font-family: Lato;
  font-size: 50px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
  padding: 90px 0 75px 0;
}
.clients ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.clients ul li {
  padding-bottom: 100px;
}
.footer {
  background: url("../img/welcome.jpg") no-repeat center;
  background-size: cover;
}
.footer .btn {
  color: #3695ff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 28px;
  padding: 11px 65px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 95px;
  padding-bottom: 95px;
}
.footer-content h2 {
  text-align: center;
  color: #fff;
  font-family: Lato;
  font-size: 50px;
  line-height: 65px;
  font-weight: 300;
  padding: 30px;
}
.footer-content h2 span {
  font-weight: 700;
}
